button {
  transition: all 0.25s ease-in-out;
}

.active {
  position: relative;
}

.active > button {
  transform: rotate(20deg);
}

.notActive > button {
  transform: rotate(-20deg);
}

.display {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.display button {
  animation: moveUp 0.3s forwards;
}

.display button:nth-of-type(1) {
  font-size: 16px;
}

.hide {
  display: none;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(initial);
  }
}
